.ListItem{
    // width: 100%;
    font-family: 'Special Elite', cursive;
    list-style:none;
    margin: 2em;
    border: 1px solid white;
    // width: 80%;
    // height: 60%;
    

    img{
        width: 60%;
        margin:auto;
    }
}