$background-card: rgb(242, 190, 92);
$break-small: 414px;

.card-wrap{
    width: 20%;
    height: 70vh;
    -webkit-perspective: 850;
    perspective: 850; 
    margin: 25px 20px;
    
    @media (max-width: $break-small){
        width: 90%;
      }
}


.card {
    width: 100%;
    height: 100%;
    position:relative;
    transform-style:preserve-3d;
    transition:.7s ease;  
}

.card-wrap:hover .card{
    transform: rotateY(180deg);
}


.card_img{
    width: 100%;
    height: 80%;
}
  
.card_front{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border:none;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
    background: $background-card;
}

.card_back{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background: $background-card;
}

.card_title{
    margin: 10px;
    color: rgb(191, 38, 4);
}

.card_text{
    margin:10px;
}