*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('./img/fondo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#root {
    width: 100%;
}

.main{   
    width:100%;
 }